@charset "UTF-8";

@font-face {
    font-family: "Roboto Mono";
    src: url('fonts/RobotoMono-Regular.ttf');
}

* {
    margin: 0px;
}

body {
    color: green;
    font-family: 'Roboto Mono', sans-serif;
    background-color: black;
}

header {
    text-align: center;
    margin: 20px 0px 30px;
    font-size: 1.6em;
}

header > h2 {
    margin-top: 20px;
    font-size: 1em;
    cursor: default;
}

main {
    max-width: 1100px;
    margin: auto;
    text-align: center;
}

.container {
    color: green;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: left;
    border: 4px solid green;
    border-radius: 10px;
    padding: 5pxpx;
    width: 220px;
    margin: 15px;
}

.container h1 {
    cursor: default;
    color: rgb(179, 238, 62);
    margin: 15px auto;
    font-size: 1.6em;
}

.container > ul {
    color: rgb(106, 150, 18);
    cursor: default;
}

.container h2 {
    margin-bottom: 10px;
    font-size: 1.3em;
}

.container h3 {
    margin-bottom: 8px;
    font-size: 1.1em;
}

a {
    color: green;
    text-decoration: none;
}

a:hover {
    color: yellowgreen;
}

footer {
    margin-top: 5vh;
    padding: 8px;
    text-align: center;
}