@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: lightgray;
}

header {
    cursor: default;
    background-color: rgb(148, 146, 146);
    text-align: center;
    padding: 15px;
}

nav {
    margin: 25px 0px -5px;
}

nav > a > h2 {
    display: none;
}

nav > section > a {
    color: lightgray;
    text-decoration: none;
    background-color: rgb(71, 71, 71);
    padding: 10px;
}

nav > section > a:hover {
    background-color: lightgray;
    color: black;
}

main {
    cursor: default;
    max-width: 730px;
    margin: 10px auto 20px;
    padding: 15px;
    border-radius: 15px;
    background-color: white;
}

main > h2 {
    padding: 10px 0px;
}

main > p {
    font-size: 1.1em;
    text-indent: 20px;
    text-align: justify;
    margin: 20px 0px;
}

@media screen and (max-width: 768px) {
    nav > a > h2 {
        background-color: white;
        display: block;
        height: 30px;
        padding: 10px 0px 12px;
        margin: -10px -15px -15px;
    }

    nav > a > h2:hover {
        background-color: rgb(49, 49, 49);
        color: white;
    }

    nav > a {
        position: relative;
        color: black;
        text-decoration: none;
    }

    #a1 {
        margin-top: 15px;
    }

    #a5 {
        margin-bottom: -15px;
    }

    nav > section {
        display: none;
    }

    nav > section > a {
        font-size: 1.3em;
        display: block;
        padding: 15px;
        margin: 0px -15px 0px;
    }

    nav > section > a:hover {
        background-color: lightgray;
        color: black;
    }

    main {
        margin: 15px;
    }

    main > p {
        font-size: 1.25em;
    }

    main > h2 {
        font-size: 1.6em;
    }
}