@charset "UTF-8";

@font-face {
    font-family: 'Sriracha';
    src: url(fonts/Sriracha-Regular.ttf);
}

@font-face {
    font-family: 'PassionOne Regeular';
    src: url(fonts/PassionOne-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PassionOne Bold';
    src: url(fonts/PassionOne-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PassionOne Black';
    src: url(fonts/PassionOne-Black.ttf);
    font-weight: 900;
    font-style: normal;
}

:root {
    --font01: 'Sriracha', system-ui;
    --font02: 'PassionOne Regeular', sans-serif;
    --font03: 'PassionOne Bold', sans-serif;
    --font04: 'PassionOne Black', sans-serif;
}