@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: #5D2C80;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    width: 100vw;
    height: 100vh;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.219);
    width: 80vw;
    padding: 10px;
}

main > section#fotoMetal {
    position: relative;
    background: url(../images/metal.jpg) left bottom no-repeat;
    background-size: cover;
    margin: -10px -10px 20px;
    border-radius: 10px 10px 0px 0px;
    height: 25vh;
}

#fotoMetal > h1 {
    cursor: default;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 3em;
    color: white;
    background-color: rgba(17, 2, 41, 0.301);
    padding: 20px;
    border-radius: 15px;
    text-shadow: 3px 3px 3px black;
}

main > p {
    font-size: 1.1em;
    text-align: center;
    margin: 0px 5px 20px;
}

.secEmail, .secSenha {
    text-align: center;
    border-radius: 10px;
    margin: 10px 0px;
}

.secEmail > label, .secSenha > label {
    background-color: indigo;
    border: 1px solid indigo;
    border-radius: 10px 0px 0px 10px;
    padding: 20px 5px 16px;
    margin-right: -12px;
}

.secEmail img, .secSenha img {
    background-color: indigo;
    padding: 5px;
    margin-bottom: -14px;
    cursor: pointer;
}

.secEmail > input, .secSenha > input {
    font-size: 1.2em;
    background-color: #91CFC8;
    border-radius: 10px;
    border: 6px solid indigo;
    padding: 10px;
    width: 60vw;
    margin: 3px;
}

.secEmail > input:focus, .secSenha > input:focus {
    background-color: white;
    border: 6px solid darkmagenta;
}

.secBotões > input {
    font-weight: bold;
    border: 0px;
    background-color: #50AAA1;
    border-radius: 10px;
    color: white;
    width: 80vw;
    font-size: 1.1em;
    padding: 10px;
    margin: 5px 0px;
}

.secBotões > input:nth-last-child(3):hover {
    background-color: #133d39;
}

.secBotões > input:nth-last-child(1) {
    background-color: white;
    border: 2px solid #50AAA1;
    color: #306b65;
}

.secBotões > input:nth-last-child(1):hover {
    background-color: #133d39;
    color: white;
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    html, body {
        background-color: black;
    }

    main {
        width: 60vw;
    }

    #fotoMetal > h1 {
        font-size: 2.5em;
    }

    main > p {
        text-align: justify;
    }

    .secEmail > input, .secSenha > input {
        width: 46vw;
    }

    .secBotões > input  {
        width: 60vw;
    }
}