@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor01: #5F2E83;
    --cor02: #4B989B;
}

html , body {
    position: relative;
    background-color: var(--cor01);
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    background-color: white;
    width: 70vw;
    height: 60vh;
    padding: 20px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.301);

    transition: width 500ms;
}

#imagem {
    display: block;
    background: url(../images/metal.jpg) left bottom no-repeat;
    background-size: cover;
    margin: -20px -20px 10px;
    height: 24vh;
}

#login {
    display: block;
    text-align: center;
}

#login > h1 {
    margin-bottom: 10px;
    font-size: 1.8em;
}


@media screen and (min-width: 600px) and (max-width: 768px){
    main {
        width: 60vw;

        transition: width 500ms;
    }
}


@media screen and (min-width: 768px) and (max-width: 992px){
    html, body {
        background-image: linear-gradient(var(--cor01), var(--cor02));
    }
    
    main {
        width: 70vw;

        transition: width 500ms;
    }

    #imagem {
        float: left;
        width: 40%;
        height: 110%;

        transition: float 500ms, width 500ms;
    }

    #login {
        float: right;
        width: 60%;
        height: 100%;

        transition: float 500ms, width 500ms;
    }

    #login > h1 {
        margin: 15px 0px 20px;
    }
}


@media screen and (min-width: 992px) {
    html, body {
        background-image: linear-gradient(var(--cor01), var(--cor02));
    }
    
    main {
        width: 60vw;

        transition: width 500ms;
    }

    #imagem {
        float: right;
        width: 40%;
        height: 110%;

        transition: float 500ms, width 500ms;
    }

    #login {
        float: left;
        width: 60%;
        height: 100%;

        transition: float 500ms, width 500ms;
    }

    #login > h1 {
        margin: 15px 0px 20px;
    }
}