@charset "UTF-8";

* {
    margin: 0px;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url(images/espaco.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

main > img#astronauta {
    max-width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-duration: 0.5s;
}