@charset "UTF-8";

* {
    margin: 0px;
}

body {
    position: relative;
    height: 100vh;
    background: transparent url('imagens/fundo-madeira.jpg') center center no-repeat;
    background-size: cover;
}

section#principal {
    background: transparent url('imagens/frame-iphone.png') center center no-repeat;
    background-size: cover;
    height: 627px;
    width: 311px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#menuSec {
    height: 100vh;
    display: flex;
    position: absolute;
    top: -35%;
    left: 65%;
}

.menu {
    transform: scale(20%);
}

.menu > a {
    display: block;
}

.menu > a > img {
    border: 10px solid rgba(2, 2, 2, 0.336);
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.219);
    margin-bottom: 120px;
    border-radius: 50%;
    transition-duration: 500ms;
}

.menu > a > img:hover {
    transform: translate(-20%, -10%);
    box-shadow: 15px 15px 50px 20px rgba(0, 0, 0, 0.452);
    border: 10px solid white;
    transition-duration: 500ms;
}

section > iframe {
    height: 478px;
    width: 270px;
    border-radius: 4px;
    box-shadow: inset 3px 3px 10px 1px rgba(0, 0, 0, 0.123);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}