@charset "UTF-8";

* {
    margin: 0px;
}

#container {
    position: relative;
    height: 100vh;
    background: black url('images/espaco.jpg') center center;
    background-size: cover;
}

#conteudo {
    height: 100vh;
    background: transparent url('images/astronauta.png') no-repeat center center;
    background-size: auto 70%;
}